.App_Container {
    display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

    background-color: hsl(148, 30%, 76%); 
    /* border: 4px solid black; */
    height: 100vh;
    width: auto
}